*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  --Grey500: hsl(234, 12%, 34%);
  --Grey400: hsl(212, 6%, 44%);
  --White: hsl(0, 0%, 100%);

  --Family: "Poppins", sans-serif;
}
body {
  background-color: var(--White);
  color: var(--Grey400);
  font-family: var(--Family);
  display: grid;
  gap: 4em;
  font-size: 15px;
  padding: 3em 2em;
}

/* header */
header {
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  gap: 1em;

  text-align: center;
  font-size: 1em;
}
h1 {
  color: var(--Grey500);
  font-size: 1.5em;
}
.no-bolder {
  display: block;
  font-weight: 200;
}
.bolder {
  display: block;
  font-weight: 400;
}

/* main */
main {
  margin: 0 auto;
  display: grid;
  gap: 2em;
}
.card {
  max-width: 350px;
  margin: 0 auto;
  position: relative;
  border-radius: 0.5em;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  display: grid;
  gap: 0.5em;
  padding: 2em;
  padding-bottom: 2.5em;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.25em;
}
.card-heading {
  color: var(--Grey500);
  font-weight: 400;
}
.icon {
  margin-top: 1em;
  justify-self: end;
}
.cyan::before {
  background-color: var(--Cyan);
}
.red::before {
  background-color: var(--Red);
}
.orange::before {
  background-color: var(--Orange);
}
.blue::before {
  background-color: var(--Blue);
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1000px) {
  h1{
    font-size: 2.4em;
  }
  .bolder {
  display: block;
  font-weight: 600;
}
  main {
    width: fit-content;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "card1 card2 card4"
      "card1 card3 card4";
    gap: 2rem;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
  .cyan {
    grid-area: card1;
  }
  .red {
    grid-area: card2;
  }
  .orange {
    grid-area: card3;
  }
  .blue {
    grid-area: card4;
  }
}
